body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eeeeee;
}
.testimoni {
    border: 5px solid #76dabe;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;   
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    margin: auto;
}
.grid-item {
    text-align: center;
}
.header-content {
    background-color: #76dabe;
    padding: 20px;
    border-radius: 20px;
}
.header-content h1 {
    font-weight: normal;
    font-size: 25px;
    padding-bottom: 30px;
}
.description-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top:-30px;
}
.pict-profile {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: auto;
    border-radius: 100px;
    background-size: cover;
}
.star {
    width: 200px;
    height: 35px;
    margin: auto;
    background-image: url('../img/star-rating.png');
    background-repeat: no-repeat;   
}
.star.star-5 {
    background-position: 0px 0px;
}
.star.star-4 {
    background-position: 0px -45px;
}
.star.star-3 {
    background-position: 0px -87px;
}
.star.star-2 {
    background-position: 0px -130px;
}
.star.star-1 {
    background-position: 0px -175px;
}